.bookmarksList {
  /* position: absolute; */
  /* display: none; */
  z-index: 1;
  margin-top: 5rem;

  background-color: #823536;
  width: 25rem;
  height: fit-content;
  /* left: 0; */
  overflow: auto;
}

.onebookmark {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #5d181a;
  cursor: pointer;
  height: 10rem;
}

.littleimage {
  width: 25%;
}

.titleandyear {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-overflow: ellipsis;
  /* max-width: 18rem; */
  overflow: hidden;
  white-space: nowrap;
}

.bookmarktitle {
  font-size: 1.6rem;
}

.listicon {
  margin-left: auto;
}
