.mainContainer {
  height: calc(100vh - 6rem);
  /* height: 100vh; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* align-items: center; */
  /* justify-items: center; */
  display: flex;
  position: relative;
}

.mainContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70rem;
  height: 40rem;
  background-image: radial-gradient(
    at 0% 0%,
    rgb(50, 8, 8) 0px,
    transparent 50%
  );
}

.imageContainer {
  background-color: aqua;
  height: auto;
}

.image {
  height: 60%;
  width: 100%;
  object-fit: contain;
  border-radius: 15rem 0 0 15rem;
}
