.choosenMovie {
  display: flex;
  gap: 5rem;
  /* min-height: calc(100vh - 14.4rem);
  height: auto;
  margin: 0 2rem 2rem 2rem; */
}

/* Left side */

.imgbtnsContainer {
  min-width: 20rem;
}

.choosenImage {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.bookandlike {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 33.8rem;
  gap: 1rem;
  padding-top: 1rem;
}

.segment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #200607;
  width: 100%;
  padding: 0.4rem 0;
}

.segment:hover {
  cursor: pointer;
}

.action {
  font-size: 1.4rem;
}

/* Right side */

.contentFlex {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
}

.headFlex {
  display: flex;
  gap: 2rem;
}

.text,
.texthelp {
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
}

.texthelp {
  font-size: 1.4rem;
}

.imdb {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.font {
  font-size: 1.2rem;
  font-weight: 500;
}

.genredur {
  display: flex;
  gap: 2rem;
}

.imdbVotes {
  font-size: 1rem;
  font-weight: 500;
}

.imdbLogo {
  width: 2rem;
  height: 2rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.help2 {
  color: #eb5b5e;
  font-size: 1.4rem;
}
